@model ConceptArchitect.BookManagement.Author



<h2>Add New Author Info</h2>

<form action="/author/add" method="post">

    <label for="name">Name</label><br />
    <input type="text" name="name" value="@Model.Name" /><br/>

    <label for="email">Email</label><br />
    <input type="text" name="email" value="@Model.Email" /><br />

    <label for="bio">Bio</label><br />
    <input type="text" name="bio" value="@Model.Biography" /><br />

    <label for="birthdate">BirthDate</label><br />
    <input type="text" name="dob" value="@Model.BirthDate" /><br />

    <label for="deathdate">Death Date (Leave Blank for happy case)</label><br />
    <input type="text" name="deathdate" value="@Model.DeathDate" /><br />

    <label for="photgraph">Photograph Url</label><br />
    <input type="text" name="photograph" value="@Model.Photograph" /><br />

    <input type="submit" value="Add" class="btn btn-primary" />

</form>