@model ConceptArchitect.BookManagement.Author

<h2>About @Model.Name</h2>



@Html.ActionLink("Back To List", "List", null, new { @class = "btn btn-primary btn-sm" })

@Html.Partial("_AuthorInfo", Model)


<h2>Books by @Model.Name</h2>
<partial name="_BookList" for="@Model.Books" />

